<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% block title %} {% endblock %} - LoLRegret</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    {% block style %} {% endblock %}
    <style>

    @media screen and (max-width:600px) {
        nav {
            flex-direction: column;
        }

        .nava {
            order: 1;
        }

        .title {
            order: -1;
        }
    }
    </style>
</head>
<body>
    <audio id="soundtrack" autoplay loop>
            <source src="/static/enemy.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <nav>
        <a href="/watchlist" class="nava">Watchlist</a>
        <a href="/" class="title">LoLRegret</a>
        <a href="https://github.com/podpah/league-api-project/blob/main/logic.py" class="nava">Source</a>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<script src="/static/script.js"></script>
</html>