<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% block title %} {% endblock %} - LossGBT</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    {% block style %} {% endblock %}
</head>
<body>
    <nav>
        <a href="/watchlist" class="nava">Watchlist</a>
        <a href="/" class="title">LossGBT</a>
        <a href="https://github.com/podpah/league-api-project/blob/main/logic.py" class="nava">Source</a>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>