{% extends 'base.html' %}

{% block style %}
    <style>
        body {
            background-image: url("/static/psyopspyke.jpeg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
        }

        .content {
            margin-top: 10rem;
            text-shadow: 0.2rem 0.2rem black;
        }

        @media screen and (max-width:600px) {
            body {
                background-image: url("/static/psyopspykeloading.png");
            }
            .content {
                margin-top: 10%;
            }
        }


    </style>
{% endblock %}

{% block content %}
    <p style="display: none">{% block title %}Rotation Watchlist{% endblock %}</p>
    <form method="post" class="form">
        <h2>Be warned when a champion you are waiting for is added to the rotation</h2>
        <label>E-mail</label>
        <br>
        <input type="text" name="email" placeholder="Enter your e-mail here" id="email">
        <br>
        <label>Champions</label>
        <br>
        <input type="text" name="content" placeholder="Write the champion names here">
<!--        <br>-->
        <p>Please write the name of each champion separated by a comma, such as:<br>
        Malzahar, Tristana</p>
        <button type="submit">Submit</button>
    </form>
{% endblock %}