{% extends 'base.html' %}

{% block content %}
    <p style="display: none">{% block title %}Rotation Watchlist{% endblock %}</p>
    <form method="post" class="form">
        <h2>Be warned when a champion you are waiting for is added to the rotation</h2>
        <label>E-mail</label>
        <br>
        <input type="text" name="title" placeholder="Enter your e-mail here" id="email" value="{{ request.form['email'] }}">
        <br>
        <label>Champions</label>
        <br>
        <input type="text" name="content" placeholder="Write the champion names here" value="{{ request.form['content']}}">
<!--        <br>-->
        <p>Please write the name of each champion separated by a comma, such as:<br>
        Malzahar, Tristana</p>
        <button type="submit">Submit</button>
    </form>
{% endblock %}